/* CSS Document */

html {
padding:0px;
margin:0px;
}
h1,h2,h3,h4{
font-weight:normal;
font-family:"Century Gothic","Arial";
color:#a4cc28;
}
body {
background-color: #eee;
font-family:"Segoe UI","Times New Roman";
font-size: 14px;
color:#564b47;
text-align:center;
margin:0px;
padding:0px;
/*background:url(../images/bg.png) fixed repeat-x;*/
}
#head{
	background-color:#a4cc28;
	margin-right:40px;
	min-height:60px;
	color:#fff;
	padding:20px;
}
table{
	font-family:"Segoe UI";
	font-size: 14px;
}
a{
	color:#a4cc28;
	TEXT-DECORATION:   none ;
}
a:hover{
	border-bottom:1px solid;
}
#box {
width:100%;
margin: 0px auto;
padding-top:5px;
padding-left:20px;
padding-right:20px;
padding-bottom:40px;
text-align:left;
}
.table-list td{
	font-size:14px;
	padding:2px;
	vertical-align:top;
}

.portrait{
	padding-top:10px;
	padding-bottom:20px;
	font-size:16px;
	}

a.fancyimg{
	border:none !important;
}

#googletranslate{
	float:right;
	margin-right:20px;
}
.hint {
	background-image:url(../images/exclamation.png);
	background-repeat:no-repeat;
	background-color:#c9f3ff;
	border:thin dashed;
	border-color:#00acde;
	min-height:25px;
	padding-top:7px;
	padding-left:35px;
	margin-right:60px;
}
.error {
	background-color:#FF9999;
	background-image:url(../images/error.png);
	border-color:#F00;
}
.content{
	padding-left:20px;
	padding-right:20px;
	margin-right:20px;
}
.banner{
	margin-right:40px;
}
.banner h3{
	padding:5px;
	background-color:#f2ffc9;
}
.banner h3 img{
	padding-right:6px;
}
.expanded {
	background-color:#fff;
}
.expanded h3{
	background-color:transparent;
}
/* CSS Document */
.in-progress {
	padding-left:100px;
	height:25px;
	background-image:url(../images/in-progress.png);
	background-repeat:no-repeat;
	background-position:left top;
	color:#FC0;
}
.finished {
	height:25px;
	padding-left:100px;
	background-image:url(../images/finished.png);
	background-repeat:no-repeat;
	background-position:left top;
	color:#6C0;
}
.tr-odd{
	background-color:#f2ffc9;
}