* {
    vertical-align: baseline;
    font-weight: inherit;
    font-family: inherit;
    font-style: inherit;
    text-decoration:inherit;
    font-size: 100%;
    padding: 0;
    border: 0;
    margin: 0;
}

article,aside,details,figcaption,figure,
footer,header,hgroup,menu,nav,section {
    display:block;
}

table {
    font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
    font-size: 14px;
    line-height: 17.5px;
    border-collapse: collapse;
    overflow:hidden; 
}

:focus {
    outline: 0;
}

::-moz-focus-inner {
    border: 0;
} 

/* clearfix */
.clear:after {
    content: ".";
    display: block;
    clear: both;
    visibility: hidden;
    line-height: 0;
    height: 0;
}

.clear {
    display: block;
}


* html .clear {
    height: 1%;
}

a {
    color: #0385CB;
    text-decoration: none;
}

a:hover{
    color: #0385CB;
    text-decoration:underline;
}

h1 a, h2 a, h3 a, h4 a {
    color: #317EAC;
}

h1 a:hover, h2 a:hover, h3 a:hover, h4 a:hover, nav a:hover {
    text-decoration:none;
}

body{
    font-family: "Myriad Pro", Helvetica, Arial, sans-serif;
    font-size: 14px;
    line-height: 17.5px;
    background-color: #fff;
    padding: 0;
    margin: 0;
    color: #08081f;
}

::selection{background-color:#85D2F0; color:#444}
::-moz-selection{background-color:#85D2F0; color:#444}
::-webkit-selection{background-color:#85D2F0; color:#444}

footer{
    color:#222;
    font-size: 12px;
    text-align: left;
    min-height: 45px;
    _height: 45px;
    _height: auto !important;
    padding:10px 30px 10px;
}

.headerimg{
clear: both;
height: auto;
}


.blog_excerpt{
    padding-bottom: 24px;
}

.blog_excerpt .post time{
    float: none;
    clear: left;
}

.blog_excerpt .button{
    float: right;
}

section.content{
    overflow:hidden;
    min-height:500px;
    _height:500px;
    _height:auto !important;
}

.contentwrapper{
    height:auto;
    margin-right:250px;
}

/* listing */

.listing{
    margin-top: 24px;
    margin-left: 10px;
}

.listing img{
    max-width: 120px;
    max-height: 120px;
    padding:10px 20px;
}

.listing li{
    list-style-type: none;
    width: 100%;
    margin-right: 10px;
    padding: 12px 0px;
}

.listing time{
    font-size: 12px;
    color: #999;
    clear:both;
    width:100%;
}

/* Content */

.post time{
    font-size: 12px;
    color: #999;
    margin-top: 6px;
    clear:both;
    width:100%;
}

ul.tags li{
    list-style-type: none;
    display: inline;
    float:left;
}

.small {
    padding-right:5px;
}

h1 a, h2 a, h3 a{
    text-decoration: none;
}
.archives ul.posts{
    margin-top: 24px;
}

.archives li.post{
    list-style-type: none;
    border-bottom: 1px dotted #ccc;
    padding: 5px 0;
}

.archives li.post time{
    color: #999;
    display:block;
    float: left;
    clear: both;
}

.archives li.post a{
    float: left;
}

.archives ul.tags{
    margin-bottom:0;
}

.content article p {
    padding-bottom:10px;
}

.code, code, pre {
  font-family:"Courier New",Courier,serif;
  position: relative;
}
.highlight pre {
  font-size: 12px;
  padding: 16px 12px 12px;
  line-height: 24px;
  margin-bottom: 8px;
}

strong{
    color:red;
}
.postnav{
  width:100%
}
nav.before{
    border-bottom:#ddd 1px solid;
    margin-bottom:10px;
}
nav.after{
    border-top:#ddd 1px solid;
    margin-top:10px;
}

#disqus_thread {
    margin-top:20px;
}

/* content bg & right */
.content-back {
    /*width:100%;*/
    height:auto;
}
.content-right {
    width:275px;
    padding:12px 0px;
    float:right;
}
.right-float{
    color:#222;
    line-height:15px;
    font-size:12px;
    padding:10px 20px;
}
.right-float .news {
    padding-left:0;
}
.right-float .lighter{
    font-size: 16px;
    font-family:"Telex", Helvetica, Arial, sans-serif;
    color: #317EAC;
    line-height:20px;
    letter-spacing:1px;
}
.lighter {
    font-family:"Telex", Helvetica, Arial, sans-serif;
    color: #317EAC;
}
.lighter-color {
    color: #317EAC;
}
.content {
padding:20px 5px;
}
.content .title{
    margin: 0px 10px 10px 0px;
}
.content p{
    padding-bottom:30px;
}

/* nav theming */

.fancyimg {
    position:relative;
    margin:0px 10px;
    width:auto;
    overflow:hidden;
    float:left;
    border:none;
}
.fancyimg:hover{
    border:none;
}

/* design logo */
#designlogo {
    float:right;color:#222;font-size:12px;
}
#designlogo a{
    color:#222;
    text-decoration:none;
    border:none;
}
#designlogo a.hyde:hover{
    color:#999;
}

/* others */

.news{
padding-left:10px;
list-style:square url("../images/list-square.png");
}

.news2{
padding-left:20px;
list-style:square url("../images/list-triangle.png");
}

td {
vertical-align:top;
padding:5px;
}

#sociallinks li{
padding-left:10px;
padding-bottom:10px;
list-style-type: none;
}

table.showcase td{
padding-bottom:30px;
padding-left:10px;
background-image:url("../js/fancybox/fancy_shadow_s.png") repeat-x;
}

table.showcase img{
border: 1px solid #ddd;
}