* {
    vertical-align: baseline;
    font-weight: inherit;
    font-family: inherit;
    padding: 0;
    border: 0;
    margin: 0;
    font-size: inherit;
}

body {
    overflow: auto;
    height: 100%;
}

h4, h5, h6 {
    color: #54699e;
}

#layout{
    padding:0 5px;
}

#layout .content{
    margin-left:auto;
    margin-right:auto;
    max-width:800px;
}

article,aside,details,figcaption,figure,
footer,header,hgroup,menu,nav,section {
    display:block;
}

blockquote {
    margin: 10px 50px;
    font-style: italic;
    padding-left: 15px;
    border-left: 5px solid #54699e;
}

table {
    font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
    font-size: 100%;
    line-height: 1.1em;
    border-collapse: collapse;
    overflow:hidden;
    margin: 1rem 30px;
}

section {
    overflow: hidden;
}

figure img {
    display: block;
    margin: 0 auto 5px;
    max-width: 640px;
}

figcaption {
    font-style:italic;
    color: rgb(111, 129, 183);
}

figcaption a {
    text-decoration:underline;
}

figure {
    margin: 1rem 0 2rem;
}

.nav-item .active {
    font-weight: 600;
}

:focus {
    outline: 0;
}

::-moz-focus-inner {
    border: 0;
}

/* clearfix */
.clear:after {
    content: ".";
    display: block;
    clear: both;
    visibility: hidden;
    line-height: 0;
    height: 0;
}

.clear {
    display: block;
}


* html .clear {
    height: 1%;
}

a {
    color: rgb(111, 129, 183);
    text-decoration: none;
}

a:hover{
    color: rgb(111, 129, 183);
    text-decoration:underline;
}

a.coauthor {
    color: inherit;
    text-decoration:underline;
}

h1 a:hover, h2 a:hover, h3 a:hover, h4 a:hover, nav a:hover {
    text-decoration:none;
}

body{
    font-family: "Helvetica Neue", Helvetica, Arial, KaiTi, "楷体", KaiTi_GB2312, "楷体_GB2312", STKaiTi, "华文楷体",  sans-serif;
    padding: 0;
    margin: 0;
}

::selection{background-color:#85D2F0; color:#444}
::-moz-selection{background-color:#85D2F0; color:#444}
::-webkit-selection{background-color:#85D2F0; color:#444}

footer{
    color:#222;
    text-align: left;
    min-height: 45px;
    _height: 45px;
    _height: auto !important;
    padding:10px 30px 10px;
}

.headerimg{
clear: both;
height: auto;
}


.blog_excerpt{
    padding-bottom: 24px;
}

.blog_excerpt .post time{
    float: none;
    clear: left;
}

.blog_excerpt .button{
    float: right;
}

section.content{
    overflow:hidden;
    min-height:500px;
    _height:500px;
    _height:auto !important;
}


/* listing */

.listing {
    padding: 0;
    margin: 0;
}

.listing img{
    max-width: 200px;
    max-height: 200px;
    padding:10px 20px;
    margin-left:auto;
    margin-right:auto;
    display:block;
}

ul.listing {
    list-style: none !important;
}

.listing li{
    list-style-type: none;
    width: 100%;
    margin-right: 10px;
    margin-bottom: 1em;
    padding: 12px 0px;
}

.listing time{
    font-size: 12px;
    color: #999;
    clear:both;
    width:100%;
}

.listing p {
    margin: .5em 0;
}

.listing h2 {
    margin: .5em 0;
}

ul ul {
    margin: 0;
}

li p {
    margin: 0;
}

/* Content */

article.post {
    hyphens: auto;
}

.post time{
    font-size: 12px;
    color: #999;
    margin-top: 6px;
    clear:both;
    width:100%;
}

ul.tags {
    padding: 0
}

ul.tags li{
    list-style-type: none;
    display: inline;
    float:left;
    padding: 0 2;
}

.tag {
    margin-left: 5px;
    padding:2px 6px 2px 2px;
    background: rgb(141, 159, 175);
}

.tag:hover {
    text-decoration: none;
    background: rgb(217, 235, 255);
}

.archives ul.posts{
    margin-top: 24px;
}

.archives li.post{
    list-style-type: none;
    border-bottom: 1px dotted #ccc;
    padding: 5px 0;
}

.archives li.post time{
    color: #999;
    display:block;
    float: left;
    clear: both;
}

li.post h3 {
    margin: 0;
}
li.post ul {
    margin: 0;
}
li.post {
    margin-bottom: 5px;
}

.archives li.post a{
    float: left;
}

.archives ul.tags{
    margin-bottom:0;
}


.code, code, pre {
  font-family:"Courier New",Courier,serif;
  position: relative;
}
code {
  background: #eee;
  border: #ccc solid 1px;
  border-radius: 3px;
  padding: 1px 3px;
}
.highlight pre {
  font-size: 12px;
  padding: 16px 12px 12px;
  line-height: 24px;
  margin-bottom: 8px;
}
.modal pre{
  padding: 5px;
  font-size: 12px;
  background: #eee;
}

.postnav{
  width:100%
}

#disqus_thread {
    margin-top:20px;
}

/* nav theming */

.fancyimg {
    position:relative;
    margin:0px 10px;
    width:auto;
    overflow:hidden;
    float:left;
    border:none;
}
.fancyimg:hover{
    border:none;
}

/* others */

.lighter {
    color:rgb(111, 129, 163);
    font-weight: 600;
}

.lighter-color {
    color:rgb(111, 129, 163);
}

.award-winner {
    font-weight: 600;
    color:rgb(203, 50, 31);
}

.content ul{
padding-left:15px;
list-style:square url("../images/list-square.png");
}

.content ul li {
    padding-bottom: 5px;
}

.news2{
padding-left:20px;
list-style:square url("../images/list-triangle.png");
}

td {
vertical-align:top;
padding:5px;
}

#sociallinks li{
padding-left:5px;
list-style-type: none;
float:left;
}

#sociallinks {
    padding: 0;
    margin:auto;
}

table.showcase td{
padding-bottom:30px;
padding-left:10px;
background-image:url("../js/fancybox/fancy_shadow_s.png") repeat-x;
}

table.showcase img{
border: 1px solid #ddd;
}

.header {
    margin-top: 6em;
}

#header-menu {
    transition: top 0.2s;
}

.splash-container{
    max-height: 290px;
    min-height: 150px;
}
.splash-bg{
    width:100%;
    height:100%;
    padding-top: 80px;
}

.splash-head{
    font-size: 250%;
    background: rgb(31,141,241);
    background: rgba(31,141,241,0.8);
}
.splash-subhead{
    background: rgb(31,141,241);
    padding-bottom: 1em;
}
.bxslider {
    margin:0;
    padding:0;
}
.bxslider img {
    max-width: none;
    min-height: 100%;
    min-width: 100%;
}
.bx-wrapper {
    background: none !important;
    border: 0;
}
.bx-viewport {
    background: none !important;
    border: none !important;
    left: 0 !important;
    height:100%;
}

#name #name-en {
    display:block;
}

#name #name-zh {
    display:none;
}

#name:hover #name-en {
    display:none;
}

#name:hover #name-zh {
    display:block;
}

.pure-menu li a{
    text-decoration: none;
    padding: 5px 8px !important;
}

:target::before {
  content: "";
  display: block;
  height: 65px; /* fixed header height*/
  margin: -65px 0 0; /* negative fixed header height */
}

sup:target::before {
  display: inline-block;
}

.footnote hr {
  display: none;
}

.footnote li:target::before {
  display:none;
}

.pubtype {
  display: inline-block;
  border-radius: 3px;
  color: white;
  font-variant: small-caps;
  margin-right: 5px;
  padding: 0 2px;
  line-height: 11px;
}

.pubtype.conf {
    background: #1f78b4;
}
.pubtype.preprint {
    background: #a6cee3;
}
.pubtype.journal {
    background: #33a02c;
}
.pubtype.sysdesc {
    background: #b2df8a;
}

@media (min-height: 725px) {
.content-wrapper {
    top: 290px;
}
}

@media (min-width: 24em) {
.header {
    margin-top: 3em;
}
#sociallinks{
    margin-top: 5em;
}
.splash-bg{
    padding-top: 48px;
}
.pure-menu li a{
    padding: 5px 20px !important;
}
}

@media print{
  body{ background-color:#FFFFFF; background-image:none; color:#000000 }
  #disqus_thread {display:none !important;}
  #layout .content{ width:100% !important; max-width: 100% !important; }
  .pure-menu-fixed{position: absolute !important; }
  #header-menu { transition: top 0s;}
  .nav-item .active {color: #444444 !important; }
  .pure-menu-heading {color: #444444 !important; }
  .pure-menu.pure-menu-open.pure-menu-fixed { border-bottom: 1px solid #b7b7b7 !important}
}