* {
    vertical-align: baseline;
    font-weight: inherit;
    font-family: inherit;
    font-style: inherit;
    text-decoration:inherit;
    font-size: 100%;
    padding: 0;
    border: 0;
    margin: 0;
}

article,aside,details,figcaption,figure,
footer,header,hgroup,menu,nav,section {
    display:block;
}

table {
    font-family: "Myriad Pro", Helvetica, Arial, sans-serif;
    font-size: 14px;
    line-height: 17.5px;
    border-collapse: collapse;
    overflow:hidden; 
}

:focus {
    outline: 0;
}

::-moz-focus-inner {
    border: 0;
} 

/* clearfix */
.clear:after {
    content: ".";
    display: block;
    clear: both;
    visibility: hidden;
    line-height: 0;
    height: 0;
}

.clear {
    display: block;
}


* html .clear {
    height: 1%;
}

a {
    color: #73A533;
    text-decoration: none;
}

a:hover{
    color: #73A533;
    text-decoration:underline;
}

h1 a, h2 a, h3 a, h4 a {
    color: #0092C8;
}

h1 a:hover, h2 a:hover, h3 a:hover, h4 a:hover, nav a:hover {
    text-decoration:none;
}

body{
    font-family: "Myriad Pro", Helvetica, Arial, sans-serif;
    font-size: 14px;
    line-height: 17.5px;
    background-color: #fff;
    padding: 0;
    margin: 0;
    color: #08081f;
}

::selection{background-color:#00c2f8; color:#4d4d5f}
::-moz-selection{background-color:#00c2f8; color:#4d4d5f}
::-webkit-selection{background-color:#00c2f8; color:#4d4d5f}

#container{
  width: 900px;
  margin: 0 auto;
}

footer{
    color:#222;
    font-size: 12px;
    text-align: left;
    min-height: 45px;
    _height: 45px;
    _height: auto !important;
    padding:10px 30px 10px;
}

.banner{
    padding-top:50px;
    height:auto;
    position: relative;
}

.banner h1{
    color: #73A533;
    float: right;
    font-size: 30px;
    font-weight: normal;
    line-height: 22px;
    text-align: right;
    width: 340px;
    position:absolute;
    right:5px;
    z-index:10;
}

.headerimg{
clear: both;
height: auto;
}

.banner nav{
    height:22px;
    z-index:5;
    border-bottom:1px #dde solid;
}

.banner nav li{
    list-style-type: none;
    float: left;
    height:22px;
    _width:80px;
}

.button {
   margin-right:10px;
   border: none;
   border-bottom:#73A533 3px solid;
   display:block;
   padding:0px 5px;
   text-align:center;
   min-width:30px !important;
   min-width:20px;
   height:20px;
   color: #08081f;
   font-family: Helvetica, Arial, sans-serif;
   font-size:14px;
   line-height:20px;
}

.button.active{
    border:none;
    border-bottom:#0092C8 3px solid;
    color:#08081f;
}
.button:hover{
    border:none;
    border-bottom:#0092C8 3px solid;
    color:#0092C8;
}


.blog_excerpt{
    padding-bottom: 24px;
}

.blog_excerpt .post time{
    float: none;
    clear: left;
}

.blog_excerpt .button{
    float: right;
}

section.content{
    overflow:hidden;
    min-height:500px;
    _height:500px;
    _height:auto !important;
}

.contentwrapper{
    height:auto;
    margin-right:250px;
}
.green-vline{
    position:absolute;
    right:250px;
    min-height:500px;
    height:100%;
    min-height:100%;
    border-right: 50px solid #ddffd9;
    z-index:-1;
}

/* listing */

.listing{
    margin-top: 24px;
}

.listing img{
    max-width: 120px;
    max-height: 120px;
    padding:10px 20px;
}

.listing li{
    list-style-type: none;
    width: 100%;
    margin-right: 24px;
    margin-bottom: 24px;
    padding: 12px 0px;
}

.listing time{
    font-size: 12px;
    color: #999;
    margin-top: 6px;
    clear:both;
    width:100%;
}

/* Content */

.post time{
    font-size: 12px;
    color: #999;
    margin-top: 6px;
    clear:both;
    width:100%;
}

ul.tags li{
    list-style-type: none;
    display: inline;
    float:left;
}

.small {
    padding-right:5px;
}

h1 a, h2 a, h3 a{
    text-decoration: none;
}
.archives ul.posts{
    margin-top: 24px;
}

.archives li.post{
    list-style-type: none;
    border-bottom: 1px dotted #ccc;
    padding: 5px 0;
}

.archives li.post time{
    color: #999;
    display:block;
    float: left;
    clear: both;
}

.archives li.post a{
    float: left;
}

.archives ul.tags{
    margin-bottom:0;
}

.content article p {
    padding-bottom:10px;
}

.codebox {
font-family:"Courier New",Courier,serif;
  margin-top: 8px;
  margin-bottom: 12px;
  border-left:2px #73A533 solid;
  padding:5px;
}
.code, code {
  font-family:"Courier New",Courier,serif;
  position: relative;
}
.highlight pre {
  font-size: 12px;
  padding: 16px 12px 12px;
  line-height: 24px;
  margin-bottom: 8px;
}

code{
    font-family:"Courier New",Courier,serif;
}
strong{
    color:red;
}
.postnav{
  width:100%
}
nav.before{
    border-bottom:#ddd 1px solid;
    margin-bottom:10px;
}
nav.after{
    border-top:#ddd 1px solid;
    margin-top:10px;
}

#disqus_thread {
    margin-top:20px;
}

/* content bg & right */
.content-back {
    /*width:100%;*/
    height:auto;
}
.content-right {
    width:275px;
    padding:12px 0px;
    float:right;
}
.right-float{
    color:#222;
    line-height:15px;
    font-size:12px;
    padding:10px 20px;
    width:250px;
    margin-bottom:10px;
    margin-left:10px;
}
.right-float .lighter{
    font-size: 16px;
    font-family:"Trebuchet MS", "Tahoma", sans-serif;
    color: #0092C8;
    line-height:20px;
    letter-spacing:1px;
}
.lighter {
    font-family:"Trebuchet MS", "Tahoma", sans-serif;
    color: #0092C8;
}
.lighter-color {
    color: #0092C8;
}
.content {
padding:20px 5px;
}
.content .title{
    margin: 0px 10px 10px 0px;
}
.content h1{
    font-size:24px;
    font-family:"Trebuchet MS", "Tahoma", sans-serif;
    color: #0092C8;
    line-height: 26px;
}

.content h2{
    font-size:20px;
    font-family:"Trebuchet MS", "Tahoma", sans-serif;
    color: #0092C8;
    line-height:22px;
}

.content h3{
    font-size:18px;
    font-family:"Trebuchet MS", "Tahoma", sans-serif;
    color: #0092C8;
    line-height: 20px;
}
.content h4{
    font-size:16px;
    font-family:"Trebuchet MS", "Tahoma", sans-serif;
    color: #0092C8;
    line-height: 17.5px;
}
.content p{
    padding-bottom:30px;
}

/* nav theming */

.fancyimg {
    position:relative;
    margin:0px 10px;
    width:auto;
    overflow:hidden;
    float:left;
    border:none;
}
.fancyimg:hover{
    border:none;
}

/* design logo */
#designlogo {
    float:right;color:#222;font-size:12px;
}
#designlogo a{
    color:#222;
    text-decoration:none;
    border:none;
}
#designlogo a.hyde:hover{
    color:#999;
}

/* others */

.news{
padding-left:20px;
list-style:square url("../images/list-square.png");
}

.news2{
padding-left:30px;
list-style:square url("../images/list-triangle.png");
}

td {
vertical-align:top;
padding:5px;
}

#sociallinks li{
padding-left:10px;
padding-bottom:10px;
list-style-type: none;
}

table.showcase td{
padding-bottom:30px;
padding-left:10px;
background-image:url("../js/fancybox/fancy_shadow_s.png") repeat-x;
}

table.showcase img{
border: 1px solid #ddd;
}